<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Customers Table</h3>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>PhoneNumber</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cus : ${customers}">
                            <td th:text="${cus.id}"></td>
                            <td th:text="${cus.firstName}"></td>
                            <td th:text="${cus.lastName}"></td>
                            <td th:text="${cus.email}"></td>
                            <td th:text="${cus.phoneNumber}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>